{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'surveys/style.css' %}" />
  <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div id="container">

  <div id="main-header">
	<h1>
	  Survey System<br>
	  ZZ
	</h1>
  </div>

  <div id="menu" >
	<b>Menu</b><br>
	<a href="/surveys/">Surveys</a><br>
	<a href="/admin/">Admin</a><br>

  </div>

  <div id="content" >
        {% block content %}{% endblock %} 
  </div>

  <div id="main-footer">
	Copyright © Tomasz Pasternak
  </div>

</div>

</body>
</html> 
