{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'surveys/style.css' %}" />
  <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div id="container">

  <div id="main-header">
	<h1>
	  Survey System<br>
	  ZZ
	</h1>
  <div id="logging-panel">
	{% if request.user.is_authenticated %}
      Welcome, <strong>{{ request.user.username }}</strong>. <a href="/logout">Logout</a>
	{% else %}
      Welcome, <strong>anonymous user</strong>. Please <a href="/login">log in</a>.
	{% endif %}
  </div>
  </div>

  <div id="menu" >
	<b>Menu</b><br>
	<a href="/surveys/">Surveys</a><br>
	<a href="/admin/">Admin</a><br>

  </div>

  <div id="content" >
        {% block content %}{% endblock %} 
  </div>

  <div id="main-footer">
	Copyright © Tomasz Pasternak
  </div>

</div>

</body>
</html> 
